
/* Estilos específicos para la página de tareas */
ion-item {
  --background: #f9f9f9;
  margin-bottom: 8px;
}

ion-content.scroll-content {
  display: block;
  overflow-y: auto; /* Asegura que el contenido se pueda desplazar */
}

ion-list {
  max-height: 100%; /* Evita que la lista se desborde */
}

ion-checkbox {
  --border-color: green;
  --background-checked: green;
  --border-color-checked: green;
}

ion-button[color="danger"] {
  background: rgb(199, 50, 50);
}